<!-- data.ejs -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check the Holiday</title>
    <link rel="stylesheet" href="../public/css/main.css" type="text/css"> <!--style.css 파일 적용.-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>
<center>
<body>
    <div id="title">When is my Holiday?</div>
    <br><br>
    <div class="wrapper">
        <div class="circle">
        <p class="dday">
        <span>
        <h2>오늘로부터 가장 가까운 휴일은</h2>
        <h1>[<%= data[0] %>]</h1>
        <h1>D - <%= data[2] %></h1>
        <h2><%= data[0] %>의 날짜 : <%= data[1] %></h2>
            </span>
        </p>
        </div>
    </div>
    <h2> <%= data[0] %> 에 추천하는 활동 목록입니다.</h2> <!--recommend activity 추가파트 시작-->
    
    <div id="activity">

    <% if (data[1] == '20220601') { %>
        <h2>1. 투표하세요.</h2>
        <h2>2. 투표날이 어렵다면 사전투표하세요.</h2>

    <% } else if (data[1] == '20220505') { %>
        <h2>1. 어린이날 즐기기.</h2>
        <h2>2. 놀이공원 </h2>
        <h2>3. 서울숲</h2>

    <% } else if (data[1] == '20220606') { %>
        <h2>1. 현충원 가기.</h2>
        <h2>2. 전쟁기념관 방문.</h2>
        <h2>3. 어린이날 즐기기.</h2>
    
    <% } else if (data[1] == '20220508') { %>
        <h2>절 가기.</h2>
    
    <% } else { %>
      <h2>Just Take some rest!.</h2>
      
    <% } %>
      
       
      
      


    </div>
    
</body>
</center>
</html>